{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src=" {% static 'js/bootstrap.js' %}"></script>
    <title>Document</title>
</head>
<body>
    
    <div class="container"> 
        <form action="" method="POST">
            
            <h1>Formulario Registro de Pedido</h1>
            {% csrf_token %}
            {{ formulario.as_table}}
            
            <input type="submit" value="Guardar" class="btn btn-info boton">
            <a href="{% url 'index' %}" class="btn btn-secondary">Atras</a>
            
        </form>
</div>

</body>
</html>